<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodow.android.drive"
    android:versionCode="20"
    android:versionName="0.0.20-SNAPSHOT" >
    
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 访问Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 查看网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 亮度遮罩悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 百度定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <!-- 重启权限 -->
    <uses-permission android:name="android.permission.REBOOT"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.goodow.drive.android.activity.HomeActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 状态栏测试 -->
        <activity 
            android:name="com.goodow.drive.android.activity.StatusBarActivity" 
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
         <!-- 通知 -->
        <activity 
            android:name="com.goodow.drive.android.activity.NotificationActivity" 
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <!-- 和谐 -->
        <activity 
            android:name="com.goodow.drive.android.activity.HarmonyActivity" 
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <!-- 示范课 -->
        <activity 
            android:name="com.goodow.drive.android.activity.CaseActivity" 
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <!-- 收藏 -->
        <activity 
            android:name="com.goodow.drive.android.activity.FavouriteActivity" 
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <!-- 智能 -->
        <activity
            android:name="com.goodow.drive.android.activity.SmartActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <!-- 图画书 -->
        <activity
            android:name="com.goodow.drive.android.activity.EbookActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <!-- 入学准备 -->
        <activity
            android:name="com.goodow.drive.android.activity.PrepareActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <!-- 活动详情 -->
        <activity
            android:name="com.goodow.drive.android.activity.BehaveActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <!-- PDF播放器 -->
        <activity 
            android:name="com.goodow.drive.android.player.PdfPlayer" 
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <activity
            android:process=":pdf"
            android:name="com.artifex.mupdf.MuPDFActivity" 
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>

        <!-- VIDEO播放器 -->
        <activity
            android:name="com.goodow.drive.android.player.VideoActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
        </activity>

        <!-- FLASH播放器 -->
        <activity
            android:name="com.goodow.drive.android.player.FlashPlayerActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
        </activity>
        
        <activity
            android:name="com.goodow.drive.android.player.WebViewFlashPlayer"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
        </activity>

        <!-- 图片查看器 -->
        <activity
            android:name="com.goodow.drive.android.player.PicturePlayAcivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
        </activity>

        <!-- AUDIO播放器 -->
        <activity
            android:name="com.goodow.drive.android.player.AudioPlayActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
        </activity>

        <!-- setting -->
        <activity
            android:name="com.goodow.drive.android.activity.SettingActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
        </activity>
        
        <!-- 托班 -->
        <activity
            android:name="com.goodow.drive.android.activity.CareClassesActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
        </activity>
        <!-- 百度定位 -->
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>

        <!-- 资源库 -->
        <activity
            android:name="com.goodow.drive.android.activity.SourceActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >
        </activity>
    </application>
</manifest>
